<html>
    <head>
    </head>
    <body>
        <h3>Welcome, Enter Message Publish Details</h3>
        <form method="POST" action="/publish" enctype="multipart/form-data">
            
           connectingString <input type="text" name="connectingString"/><br/><br/>
            userName <input type="text" name="userName"/><br/><br/>
             password <input type="text" name="password"/><br/><br/>
              destination <input type="text" name="destination"/><br/><br/>
    <input type="file" name="orderFile"/><br/><br/>
   
    <input type="submit" value="Submit" id="btnSubmit"/>
        </form>
    </body>
</html>